<template>
  <div>
    <h1>Proxy List</h1>

      <div class="row" style="margin-left:5px">
        
        <div class="col-lg-2 col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Filter</h3>
            </div>
              <div class="card-body text-left">
                <div class="form-check">
                  <input type="checkbox" v-model="alive" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Alive</label>
                </div>
                <div class="form-group">
                  <select v-model="country" class="form-control" id="country" style="width:90px">
                      <option v-for="item in countries" :value="item">
                        {{ item }}
                      </option>
                  </select>
                </div>
                <div class="form-group">
                  <li v-for="(item,i) in proxy_types" style="list-style:none">
                    <input  :value="item.id" type="checkbox" v-model="proxy_selected">
                    <label for="item.name">{{ item.name }}</label>
                  </li>
                </div>              
              </div>
          </div>
        </div>
     
        <div class="col-lg-9 col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Result</h3>
            </div>
            <div class="card-body text-left">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Country</th>
                    <th class="d-none d-sm-block" scope="col">Host</th>
                    <th scope="col">Alive</th>
                    <th scope="col">Proxy type</th>
                  </tr>
                </thead>
                <tr v-for="(l,i) in filtered">
                  <td>{{ i+1 }}</td>
                  <td>{{ l.country }}</td>
                  <td  class="d-none d-sm-block">{{ l.host }}</td>
                  <td>{{ (l.alive ? 'Yes' : 'No') }}</td>
                  <td>{{ proxy_types[l.proxy_type].name }}</td>
                </tr>
                </table>
            </div>
          </div>
        </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'



export default {
  name: 'Proxy',
  props: ['url','list','proxy_types','countries'],
  data() {
    return {
      alive: false,
      proxy_selected: [],
      proxy_types: [],
      country: '',
      countries: [],
      list: []
    }
  },
  mounted() {
    this.list = this.$props.list
    this.proxy_types = this.$props.proxy_types
    this.countries = this.$props.countries
    axios
      .get('https://cors-anywhere.herokuapp.com/' + this.$props.url)
      .then(response => (this.list = response.data))
  },
  computed: {
    filtered() {
      return this.list.filter(list => {
        if(this.alive && !list.alive){
          return false
        }
        if(this.country.indexOf(list.country) === -1){
          return false
        }
          if(this.proxy_selected.indexOf(list.proxy_type) === -1){
            return false
          }
        return true
      })
    }
  }
}
</script>