<template>
  <div id="app">
    <Proxy 
      :url="url" 
      :list="list"
      :proxy_types="proxy_types"
      :countries="countries"
      ></Proxy>
  </div>
</template>

<script>
import Proxy from './components/Proxy'


export default {
  name: 'App',
  data () {
    return {
      alive: false,
      url: 'https://proxyfordevelopers.com/api/proxies/?format=json',
      list: [
          {"id":88,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-18T14:55:26.250019+03:00","host":"95.80.98.41","port":8080,"country":"EN","alive":false,"last_check_time":"2019-02-20T23:51:59.429784+03:00","busy_until":"2018-11-09T21:17:41.295535+03:00","proxy_type":1,"port_response_time":0.32916,"chargeable":false,"use_counter":1,"protocol":1,"source_of_proxy":"-"},
          {"id":135,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T13:49:28.980932+03:00","host":"109.201.96.171","port":31773,"country":"RU","alive":false,"last_check_time":"2019-02-21T00:52:08.942447+03:00","busy_until":"2018-10-16T20:09:25.613079+03:00","proxy_type":1,"port_response_time":2.36883,"chargeable":false,"use_counter":3,"protocol":1,"source_of_proxy":"-"},
          {"id":148,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T02:18:25.221702+03:00","host":"83.151.14.6","port":3128,"country":"RU","alive":true,"last_check_time":"2019-02-21T04:30:15.536683+03:00","busy_until":"2018-10-18T22:34:16.859429+03:00","proxy_type":2,"port_response_time":2.741409,"chargeable":false,"use_counter":2,"protocol":1,"source_of_proxy":"-"},
          {"id":172,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T09:53:33.899935+03:00","host":"217.79.3.94","port":8080,"country":"EN","alive":true,"last_check_time":"2019-02-21T02:53:46.801282+03:00","busy_until":"2018-10-18T14:35:48.832236+03:00","proxy_type":2,"port_response_time":2.061675,"chargeable":false,"use_counter":3,"protocol":1,"source_of_proxy":"-"},
          {"id":249,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T02:52:32.018771+03:00","host":"83.97.111.202","port":41258,"country":"RU","alive":true,"last_check_time":"2019-02-21T04:30:37.182597+03:00","busy_until":"2018-10-16T20:09:24.955420+03:00","proxy_type":1,"port_response_time":0.281524,"chargeable":false,"use_counter":3,"protocol":1,"source_of_proxy":"-"},
          {"id":273,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T04:56:54.824521+03:00","host":"83.246.139.24","port":8080,"country":"RU","alive":true,"last_check_time":"2019-02-21T01:45:57.793588+03:00","busy_until":"2018-10-18T14:35:48.474759+03:00","proxy_type":2,"port_response_time":3.362363,"chargeable":false,"use_counter":3,"protocol":1,"source_of_proxy":"-"},
          {"id":292,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-18T13:01:19.076749+03:00","host":"94.28.57.100","port":8080,"country":"TJ","alive":true,"last_check_time":"2019-02-21T05:54:05.007402+03:00","busy_until":"2018-10-18T06:36:10.599158+03:00","proxy_type":1,"port_response_time":4.727148,"chargeable":false,"use_counter":2,"protocol":1,"source_of_proxy":"-"},
          {"id":295,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-18T12:53:37.730648+03:00","host":"62.176.12.34","port":8080,"country":"BR","alive":false,"last_check_time":"2019-02-21T03:51:25.368058+03:00","busy_until":"2018-10-16T17:35:14.302164+03:00","proxy_type":0,"port_response_time":2.690213,"chargeable":false,"use_counter":3,"protocol":1,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":351,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T11:51:07.409418+03:00","host":"187.32.4.66","port":8080,"country":"BR","alive":true,"last_check_time":"2019-02-21T01:54:11.792340+03:00","busy_until":"2018-10-16T20:09:42.785760+03:00","proxy_type":2,"port_response_time":2.706024,"chargeable":false,"use_counter":3,"protocol":0,"source_of_proxy":"-"},
          {"id":374,"created":"2018-09-05T12:57:00.852060+03:00","modified":"2018-12-19T05:52:56.741895+03:00","host":"89.250.17.209","port":8080,"country":"RU","alive":true,"last_check_time":"2019-02-21T04:30:09.514248+03:00","busy_until":"2018-10-17T22:45:57.847191+03:00","proxy_type":0,"port_response_time":3.938356,"chargeable":false,"use_counter":2,"protocol":0,"source_of_proxy":"-"}
        ],
        proxy_types: [{'id':0,'name':'Transparent'},{'id':1,'name':'Anonymous'},{'id':2,'name':'Elite'}],
        countries: ['RU','EN', 'TJ','BR'],
    }
  },
  components: {
    Proxy
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
